@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1{
    background-color: #ccc;
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    font-weight: normal;
}

ul {
    margin: 20px auto;
    list-style: none;
    width: 30%;
    min-width: 300px;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    background-color: #eee;
    border-radius: 5px;
    padding-left: 10px;
}

.done{
    background-color: #0c0;
}

.glyphicon{
    margin: 0 5px;
    cursor: pointer;
}

form {
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
}